/*
Jonah Skinner's,
44908415, 2018
"Gruber"
"<ul>" means unordered lists
<ul>
<li> item 1 </li>
<li> item 2 </li>
<li> item 3 </li>
</ul>
"<ol>" means oredered lists
<ol>
<li> item 1 </li>
<li> item 2 </li>
<li> item 3 </li>
</ol>
"<li>" means list item
*/

body {
  background-color: inherit;
  font-family: 'Verdana', sans-serif;
}
/* Our tabs which allow us to move from one page to another */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: purple;
}

.active {
  background-color: #2147CA;
}

h1 {
  color: black;
  text-align: left;
  font-family: inherit;
}

h6 {
  color: black;
  text-align: center;
}

/* paragraph attributes*/

p {
  color: black;
  text-align: center;
}

* {
  box-sizing: border-box
}

/* The main crux of the code is from
https://www.w3schools.com/howto/howto_css_signup_form.asp
but there are lots of edits I have done to the original code.
"Full-width input fields"
This is where we input the things needed when signing up for a email subscription or making an
account for the website. So email, password, and repeating the password for confirmation.
*/

/* password input */

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Second password input */

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* the grey header/line above the first input field below the thumbs up*/

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* changes the opacity when the mouse is on top of it*/

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */

.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */

.container {
  padding: 10px;
}

/* Clear floats */

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* End of https://www.w3schools.com/howto/howto_css_signup_form.asp */

/*
Images of social media blocks
each word representing a company is the logo that is being represented
and color represents the background of the image.
These images are from this website and are also listed in the hrefs of the html files.
https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
*/

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-dribbble {
  background: #bb0000;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}
